#### Data Types

In [4]:
a = 5 # int
b = 5.2 #float
c = True #boolean
d = None #null
e = "Text" #string

#### Control Flow

In [9]:
f, s = 99 ,101
if f > s:
    print("First number is greater")
elif f < s:
    print("Second number is greater")
else:
    print("Both numbers are equal")

Second number is greater

#### Loops

In [21]:
for i in range(1,10):
    print(i ,end=" ")
print("\n")
# while loop
num = 1
while num < 10:
    if num % 2:
        print(num, end=" ")
    num+=1
print("\n")

1 2 3 4 5 6 7 8 9

1 3 5 7 9

#### Lists

In [7]:
ar = [1, 'aaa', True] # muttable dynammic arrays, can hold diffrent types
ar.append((2,3.14))
ar.insert(1, 'ttt')
print(ar)
print(ar[1:4])
print(ar.count(1))

[1, 'ttt', 'aaa', True, (2, 3.14)]
['ttt', 'aaa', True]
2

#### Tuples

In [10]:
tup = (5, "zzz", [1,2]) # tuples are immutable
print(tup)
tup = tuple(ar)
tup

(5, 'zzz', [1, 2])

(1, 'aaa', True)

#### Sets

In [17]:
my_set = set((5,2))
my_set.add(99)
print(my_set)
my_set.remove(2)
my_set

{2, 99, 5}

{5, 99}

#### Dictionaries

In [20]:
my_dict = dict([(1,'one'), (2,'two')])
print(my_dict)
my_dict[21] = 'newValue'
my_dict

{1: 'one', 2: 'two'}

{1: 'one', 2: 'two', 21: 'newValue'}

In [24]:
ll = zip([1,3],[2,4])
ll

#### Functions

In [30]:
def foo(s, t, fr,f,/,ss):
    print(f" F:{f} S:{s} T:{t} FR:{fr} SS:{ss}")

foo(2, 3,1,99,ss=91)

 F:99 S:2 T:3 FR:1 SS:91